@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;900&display=swap);


// colors


$dark:#333;
$lightDark: lighten($dark, 10%);
$lightestDark: lighten($dark, 40%);
$light:white;
$primary:#E40017;


// fonts
$font-stack: 'Poppins', sans-serif;
$font-logo-L: normal 500 2em $font-stack;
$font-logo-S: normal 500 1.5em $font-stack;
$font-text-bold: normal 500 1em $font-stack;
$font-text: normal 200 1em $font-stack;


// flexing

.flex-a-c{
  display: flex;
  align-items: center;
}
.flex-j-c{
  display: flex;
  justify-content: center;
}
.flex-dir-c{
  display: flex;
  flex-direction: column;
}
// search fields 
.search-fields-container{
  background: $lightDark;
  padding: 1em .5em;
  font-family: $font-stack;
  color: $light;

  &-title{
    margin-block: 1em;
  }

&-field{
  flex: 1;
  height: 3em;
  margin-top: .2em;
  background:$lightestDark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
  cursor: pointer;
  transition: all .3s ease-in-out;
   border: 1px solid transparent;

  &:hover{
    background: darken($lightestDark, 10%);
    border: 1px solid $light;
  }

  p,i{
    pointer-events: none;
    
  }

}
}
a{
  text-decoration: none;
}
.btn{
  width: 100%;
  height: 3em;
  margin-block: .2em;
  font: $font-text-bold;
  display: grid;
  place-items: center;
  cursor: pointer;
  
}


.selected-field-options{
  
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 1em .5em;
  background:rgba(0, 0, 0, 0.5);
  z-index: 1;



  &-card{
    font-family: $font-stack;
    overflow-y: auto;
    max-height: 95%;
    width: 100%;
    background: $light;
    border-radius: 5px;


  &-content{
    position: relative;
    padding: 1em;
    border-bottom: .5px solid $lightestDark;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover{
      background: darken($light, 20%);
    }


    p{
      pointer-events: none;
    }
    
  }
  .card-content-disabled{
    pointer-events: none;
  
  }
  .disabledOptions{
    pointer-events: none;
    background: darken($light, 20%);
    text-decoration: line-through;
  }
  .select-a-make{
    padding: 2em 1em;
    text-align: center;
    font: $font-text-bold;
  }

  .radio{
    pointer-events: none;
  }
    

    p{
      color: $dark;
    }

  }
}



// viewports

$mobile: 26em;
$tablet: 48em;


@mixin desktop {
  @media (min-width:#{$mobile}){
    @content;
  }
  
}

@mixin tablet {
  @media (min-width:#{$tablet}){
    @content
  }
}